exportPattern("^[[:alpha:]]+")
useDynLib(linERR, llhood)
S3method(print, summary.fit.linERR)
S3method(summary, fit.linERR)
S3method(plot, fit.linERR)
export(llhood)
# Import all packages listed as Imports or Depends
import(
  survival, stats4
)
importFrom("graphics", "abline", "lines")
importFrom("stats", "optim", "pnorm", "qchisq", "uniroot")